<div class="sidebar" [class.collapsed]="collapsed">
      <div class="top-section">
            <span *ngIf="!collapsed" class="logo-text">MyApp</span>
            <button class="toggle-btn" (click)="toggleSidebar()">
              <i class="fal" [class.fa-bars]="collapsed" [class.fa-times]="!collapsed"></i>
            </button>
      </div>
    
      <ul class="nav-items">
        <li><a routerLink="/dashboard"><i class="fal fa-home"></i><span *ngIf="!collapsed">Tableau de bord</span></a></li>
        <li><a routerLink="/formateur"><i class="fal fa-box-open"></i><span *ngIf="!collapsed">Formteurs</span></a></li>
        <li><a routerLink="/formation"><i class="fal fa-box-open"></i><span *ngIf="!collapsed">Formations</span></a></li>
        <li><a routerLink="/utulisateur"><i class="fal fa-box-open"></i><span *ngIf="!collapsed">Utulisateurs</span></a></li>
        <li><a routerLink="/statistique"><i class="fal fa-box-open"></i><span *ngIf="!collapsed">Statistiques</span></a></li>
        <li><a routerLink="/settings"><i class="fal fa-cog"></i><span *ngIf="!collapsed">Parametres</span></a></li>
      </ul>
    </div>
    